practiceDataFactory10/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "practiceDataFactory10"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline30')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata to get latest files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata to get latest files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata to get latest files').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata of each file name and timestamp",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "TogetLatestFileDataset",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"itemName",
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata of each file name and timestamp",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(formatDateTime(activity('Get Metadata of each file name and timestamp').output.lastModified,'yyyyMMddHHmmss'),formatDateTime(variables('PreviousModifiedTime'),'yyyyMMddHHmmss') )",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set variable Item Name",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "LatestFileName",
													"value": {
														"value": "@activity('Get Metadata of each file name and timestamp').output.itemName",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "Set variable lastModifiedTime",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PreviousModifiedTime",
										"value": {
											"value": "@activity('Get Metadata of each file name and timestamp').output.lastModified",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForEach file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TogetLatestFileDataset",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@variables('LatestFileName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Outputdata",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"LatestFileName": {
						"type": "String"
					},
					"PreviousModifiedTime": {
						"type": "String",
						"defaultValue": "1990-09-04T16:04:45Z"
					}
				},
				"folder": {
					"name": "Real Time scenario"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline31')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "errorMaildataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Outputdata",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Web Send email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-31.eastasia.logic.azure.com:443/workflows/c4ae5a453b084e098b2022c8e0b7fe00/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Gmvy4tQpq2-605tgeoRMn6QZBmHNejOZw7xXi3v9NlY",
							"body": {
								"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"errorMessage\": \"@{activity('Copy data1').Error.Message}\",\n    \"adfName\": \"@{pipeline().DataFactory}\",\n    \"runId\":\"@{pipeline().RunId}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Real Time scenario"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline32')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HTTPlinkedConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "outputHTTPFileDownload",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Real Time scenario"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline33')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://reqres.in/api/users?page=2"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1,activity('Web1').output.total_pages)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "id"
													}
												},
												{
													"source": {
														"path": "[['email']"
													},
													"sink": {
														"name": "email"
													}
												},
												{
													"source": {
														"path": "[['first_name']"
													},
													"sink": {
														"name": "first_name"
													}
												},
												{
													"source": {
														"path": "[['last_name']"
													},
													"sink": {
														"name": "last_name"
													}
												},
												{
													"source": {
														"path": "[['avatar']"
													},
													"sink": {
														"name": "avatar"
													}
												}
											],
											"collectionReference": "$['data']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "RestApiData",
											"type": "DatasetReference",
											"parameters": {
												"pageNo": {
													"value": "?page=@{item()}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RestApiresponseData",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "Apipage@{item()}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Real Time scenario"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALLDboSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AgainAllDboAzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					},
					"TableSchema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GlobalSalesbadAzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Practice"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "saleDate",
						"type": "varchar"
					},
					{
						"name": "saleItem",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fileName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_data_bad"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GlobalSalesdataSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Practice"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "saleDate",
						"type": "date"
					},
					{
						"name": "saleItem",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fileName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sales_data"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCD2EmpSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "RealTime Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SurrKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "emp_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "empName",
						"type": "varchar"
					},
					{
						"name": "gender",
						"type": "varchar"
					},
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "is_active",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SCD2Employee"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/employesSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PracticeSqlDatabaseConnection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Practice"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "empid",
						"type": "varchar"
					},
					{
						"name": "empname",
						"type": "varchar"
					},
					{
						"name": "Gender",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "Salary",
						"type": "varchar"
					},
					{
						"name": "DeptID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "employees"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow10_pivot_operation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "empData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "pivotOnDeptwiseGenderEmployeeCount"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empData",
						"empData pivot(groupBy(DeptID),",
						"     pivotBy(Gender),",
						"     Total = count(empid),",
						"     columnNaming: '$N$V',",
						"     lateral: true) ~> pivotOnDeptwiseGenderEmployeeCount",
						"pivotOnDeptwiseGenderEmployeeCount sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['pivotDataGenderwiseEmpcount.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow11_unpivot_operation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "vendorData",
								"type": "DatasetReference"
							},
							"name": "vendorData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "unpivotOnVendorFruitsColumn"
						}
					],
					"scriptLines": [
						"source(output(",
						"          PO as string,",
						"          Vender as string,",
						"          Apple as string,",
						"          Mango as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> vendorData",
						"vendorData unpivot(output(",
						"          Fruits as string,",
						"          Count as string",
						"     ),",
						"     ungroupBy(PO,",
						"          Vender),",
						"     lateral: true,",
						"     ignoreNullPivots: false) ~> unpivotOnVendorFruitsColumn",
						"unpivotOnVendorFruitsColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['unpivot.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow12_surrogate_key')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "empData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "surrogateKey1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empData",
						"empData keyGenerate(output(surrogate_key as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"surrogateKey1 select(mapColumn(",
						"          surrogate_key,",
						"          empid,",
						"          empname,",
						"          Gender,",
						"          Country,",
						"          Salary,",
						"          DeptID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['surrogatekey.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          surrogate_key,",
						"          empname,",
						"          Gender,",
						"          Country,",
						"          Salary,",
						"          DeptID",
						"     ),",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow13_window_opeartion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "empData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "windowOnDepartmenttoCalcSalary"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empData",
						"empData window(over(DeptID),",
						"     desc(Salary, true),",
						"     avgSalary = avg(toInteger(Salary)),",
						"          denseRank = denseRank()) ~> windowOnDepartmenttoCalcSalary",
						"windowOnDepartmenttoCalcSalary sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['windowOpeartion.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          empid,",
						"          empname,",
						"          Gender,",
						"          Country,",
						"          Salary,",
						"          DeptID,",
						"          avgSalary,",
						"          denseRank",
						"     ),",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow15_parameterize_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "empData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "filterDynamically"
						}
					],
					"scriptLines": [
						"parameters{",
						"     gender as string",
						"}",
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empData",
						"empData filter(Gender ==$gender) ~> filterDynamically",
						"filterDynamically sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['ParameterizeDataflow.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow17_fixed_lengthOpeartion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Real Time scenarios"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "fixedlenghtData",
								"type": "DatasetReference"
							},
							"name": "fixedLengthData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "derivedColumnFromFixedScema"
						},
						{
							"name": "selectreqCol"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Column_1 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> fixedLengthData",
						"fixedLengthData derive(empID = substring(Column_1, 1, 4),",
						"          Name = substring(Column_1, 5, 10),",
						"          State = substring(Column_1, 15, 2),",
						"          phoneNumber = substring(Column_1, 17, 10)) ~> derivedColumnFromFixedScema",
						"derivedColumnFromFixedScema select(mapColumn(",
						"          empID,",
						"          Name,",
						"          State,",
						"          phoneNumber",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectreqCol",
						"selectreqCol sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['fixedLengthData.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow18_deleteDuplicate_rows')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Real Time scenarios"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "oldEMpData"
						},
						{
							"dataset": {
								"referenceName": "newEmpData",
								"type": "DatasetReference"
							},
							"name": "NewEmpData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "union1"
						},
						{
							"name": "aggregateToProcessIncrementalRows"
						},
						{
							"name": "sortInAsendingOrder"
						},
						{
							"name": "derivedColumnConvertStringToInteger"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> oldEMpData",
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> NewEmpData",
						"oldEMpData, NewEmpData union(byName: true)~> union1",
						"union1 aggregate(groupBy(empid),",
						"     each(match(name!='empid'), $$ = first($$))) ~> aggregateToProcessIncrementalRows",
						"derivedColumnConvertStringToInteger sort(asc(empid, true)) ~> sortInAsendingOrder",
						"aggregateToProcessIncrementalRows derive(empid = toInteger(empid)) ~> derivedColumnConvertStringToInteger",
						"sortInAsendingOrder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['incrementalEmpData.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow19_incremental_key_from_existing_source')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Real Time scenarios"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "old_empDataFromWhichIncrementKeysStart",
								"type": "DatasetReference"
							},
							"name": "oldEmpData"
						},
						{
							"dataset": {
								"referenceName": "Increment_existing_key_data",
								"type": "DatasetReference"
							},
							"name": "newDatasetWithoutEmpid"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "OutputIncremenetedData",
								"type": "DatasetReference"
							},
							"name": "outputData"
						}
					],
					"transformations": [
						{
							"name": "derivedColumnDummyToGetMaxvalueOfID"
						},
						{
							"name": "aggregateMaxEmpId"
						},
						{
							"name": "joinDummyMaxStreamtonewEMPdata"
						},
						{
							"name": "surrogateKeyAddempId"
						},
						{
							"name": "derivedColumnIncrementedEmpIdColumn"
						},
						{
							"name": "selectRequiredColumns"
						},
						{
							"name": "unionOfOlddataWithIncrementedData"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> oldEmpData",
						"source(output(",
						"          empname as string,",
						"          Gender as string,",
						"          Country as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> newDatasetWithoutEmpid",
						"oldEmpData derive(dummy = 'dummy') ~> derivedColumnDummyToGetMaxvalueOfID",
						"derivedColumnDummyToGetMaxvalueOfID aggregate(groupBy(dummy),",
						"     MaxID = toString(max(toInteger(empid)))) ~> aggregateMaxEmpId",
						"aggregateMaxEmpId, newDatasetWithoutEmpid join(1==1,",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDummyMaxStreamtonewEMPdata",
						"joinDummyMaxStreamtonewEMPdata keyGenerate(output(empid as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKeyAddempId",
						"surrogateKeyAddempId derive(empid = toString( (toInteger(MaxID) + toInteger(empid)))) ~> derivedColumnIncrementedEmpIdColumn",
						"derivedColumnIncrementedEmpIdColumn select(mapColumn(",
						"          empid,",
						"          empname,",
						"          Gender,",
						"          Country,",
						"          Salary,",
						"          DeptID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRequiredColumns",
						"oldEmpData, selectRequiredColumns union(byName: true)~> unionOfOlddataWithIncrementedData",
						"unionOfOlddataWithIncrementedData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          empid as string,",
						"          empname as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     partitionFileNames:['incrementalEmpData.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> outputData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1_Join_Operation')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Practice"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empData",
								"type": "DatasetReference"
							},
							"name": "empData"
						},
						{
							"dataset": {
								"referenceName": "deptData",
								"type": "DatasetReference"
							},
							"name": "deptData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Outputdata",
								"type": "DatasetReference"
							},
							"name": "destinationData"
						}
					],
					"transformations": [
						{
							"name": "joinBothDatasets"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empid as string,",
						"          empname as string,",
						"          Salary as string,",
						"          DeptID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empData",
						"source(output(",
						"          DeptID as string,",
						"          DeptName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> deptData",
						"empData, deptData join(empData@DeptID == deptData@DeptID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinBothDatasets",
						"joinBothDatasets sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          empid,",
						"          empname,",
						"          Salary,",
						"          DeptName",
						"     )) ~> destinationData"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow20_log_pipelinedata_using_dataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Real Time scenarios"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dummyData",
								"type": "DatasetReference"
							},
							"name": "duumyData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "logsData",
								"type": "DatasetReference"
							},
							"name": "logOutputData"
						}
					],
					"transformations": [
						{
							"name": "derivedColumnTologPipelinelogs"
						},
						{
							"name": "selectReqColumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     adfName as string,",
						"     pipelineName as string,",
						"     triggerName as string,",
						"     runId as string,",
						"     triggerTime as string,",
						"     status as string,",
						"     fileName as string",
						"}",
						"source(output(",
						"          Column_1 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> duumyData",
						"duumyData derive(adfName = $adfName,",
						"          pipelineName = $pipelineName,",
						"          triggerName = $triggerName,",
						"          runId = $runId,",
						"          triggerTime = $triggerTime,",
						"          status = $status,",
						"          fileName = $fileName) ~> derivedColumnTologPipelinelogs",
						"derivedColumnTologPipelinelogs select(mapColumn(",
						"          adfName,",
						"          pipelineName,",
						"          triggerName,",
						"          runId,",
						"          triggerTime,",
						"          status,",
						"          fileName",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectReqColumns",
						"selectReqColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          saleDate as string,",
						"          saleItem as string,",
						"          country as string,",
						"          quantity as string",
						"     ),",
						"     partitionFileNames:[($fileName)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> logOutputData"
					]
				}
			},
			"dependsOn": []
		}
	]
}