pipeline/Copypipeline2-TestMyCopyFromBronzeToSilver.json
{
	"name": "Copypipeline2-TestMyCopyFromBronzeToSilver",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataFrombronze",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadataOfBronzeConatiner",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachtablesFromDataToSilver",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataFrombronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataFrombronze').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data Bronze To silver",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('SalesLT/', item().name,'/')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "allBronzeCSVFilesdata",
									"type": "DatasetReference",
									"parameters": {
										"name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SilverContainerDataWritenFromBronze",
									"type": "DatasetReference",
									"parameters": {
										"name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "ForEachtablesFromDataToSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "validateSilverContainerParquetFiles",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "If Condition true run 2nd Pipeline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "setvalidatedTrue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setvalidatedFalse",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('validated')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail Message",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Delete Opeartaion Failed",
								"errorCode": "400"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "SilverContainerData",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "setvalidatedTrue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "validated",
					"value": true
				}
			},
			{
				"name": "setvalidatedFalse",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "validated",
					"value": false
				}
			}
		],
		"variables": {
			"deleteSucceeded": {
				"type": "Boolean"
			},
			"validated": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}