pipeline/pipeline26.json
{
	"name": "pipeline26",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata to count files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DatasetToGetCount",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata to count files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileCount",
					"value": {
						"value": "@string(length(activity('Get Metadata to count files').output.childItems))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition count is 4",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('fileCount'),'7')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait True",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			}
		],
		"variables": {
			"fileCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Real Time scenario"
		},
		"annotations": []
	}
}