pipeline/pipeline24.json
{
	"name": "pipeline24",
	"properties": {
		"activities": [
			{
				"name": "Data flow20 log_pipelinedata_using_dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable File name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow20_log_pipelinedata_using_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"adfName": {
								"value": "'@{pipeline().DataFactory}'",
								"type": "Expression"
							},
							"pipelineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							},
							"triggerName": {
								"value": "'@{pipeline().TriggerName}'",
								"type": "Expression"
							},
							"runId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"triggerTime": {
								"value": "'@{pipeline().TriggerTime}'",
								"type": "Expression"
							},
							"status": {
								"value": "'@{string('Success')}'",
								"type": "Expression"
							},
							"fileName": {
								"value": "'@{variables('fileName')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "Set variable File name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat(formatDateTime(utcNow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Real Time scenario"
		},
		"annotations": []
	}
}